:root {
    --background: #2C2F34;
    --text: #A0A0A0;
    --local-duty-text: #E6A73A;
    --cross-duty-text: #79C7EC;
    --gold-text: #FFC240;
    --light-blue-text: #5BE2FF;
    --green-text: #37DE99;
    --meta-text: #D3EEE9;
    --ui-text: #EEE1C5;
    --text-bright: #FFF;

    --row-background: #2C2F34;
    --row-background-alternate: #373A3E;

    --slot-background: #868180;
    --slot-empty: #AAA3A2;
    --tank-blue: #455CCB;
    --healer-green: #487B39;
    --dps-red: #813B3C;
    --icon-gold: #ECB7A2;

    /*--slot-empty: #ADA99C;*/
    /*--tank-blue: #4A5DC6;*/
    /*--healer-green: #4A7939;*/
    /*--dps-red: #7E3938;*/
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;

    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text);
}

.js body {
    margin: 1em 0 0;
}

.no-js .requires-js {
    display: none !important;
    visibility: hidden !important;
}

details {
    margin-top: .5em;
}

details > summary {
    cursor: pointer;
}
