name: Build and Publish

'on':
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'server/**'
  pull_request:
    branches:
      - main
    paths:
      - 'server/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust nightly toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2024-01-08
          targets: x86_64-unknown-linux-musl

      - name: Install musl-tools (musl-gcc)
        run: sudo apt-get update && sudo apt-get install -y musl-tools

      - name: Build
        run: |
          cd ./server
          cargo build --release --target x86_64-unknown-linux-musl

      - name: Strip binary
        run: |
          cd ./server
          strip target/x86_64-unknown-linux-musl/release/remote-party-finder

      - name: Publish Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Remote Party Finder
          path: server/target/x86_64-unknown-linux-musl/release/remote-party-finder

